[profile.default]
optimizer = true
optimizer_runs = 200
auto_detect_solc = true
src = "contracts"
out = "artifacts"
libs = ["node_modules"]
ffi = true
fs_permissions = [{ access = "read", path = "./artifacts"}, { access = "read-write", path = "./deployments"}, {access = "read-write", path = "./script"}]

## set only when the `hardhat` profile is selected
[profile.hardhat]
src = "contracts"
out = "artifacts"
libs = ["node_modules"]

[profile.ci]
verbosity = 4

# See more config options https://github.com/gakonst/foundry/tree/master/config

[rpc_endpoints]
arbitrum = "${ARBITRUM_API}"
avalanche = "${AVAX_API}"