[default]
optimizer = true
optimizer_runs = 200
auto_detect_solc = true
src = "contracts"
out = "artifacts"
libs = ["node_modules"]

## set only when the `hardhat` profile is selected
[hardhat]
src = "contracts"
out = "artifacts"
libs = ["node_modules"]

[ci]
verbosity = 4

# See more config options https://github.com/gakonst/foundry/tree/master/config
