[profile.default]
optimizer = true
optimizer_runs = 200
auto_detect_solc = true
src = "contracts"
out = "artifacts"
libs = ["node_modules", "lib"]
ffi = true
fs_permissions = [{ access = "read", path = "./artifacts"}, { access = "read-write", path = "./deployments"}, { access = "read-write", path = "./.deployments"}, {access = "read-write", path = "./script"}]

## set only when the `hardhat` profile is selected
[profile.hardhat]
src = "contracts"
out = "artifacts"
libs = ["node_modules"]

[profile.ci]
verbosity = 4

# See more config options https://github.com/gakonst/foundry/tree/master/config

[rpc_endpoints]
arbitrum = "${rpc_arbitrum}"
arbitrum_goerli = "${rpc_arbitrum_goerli}"
aurora = "${rpc_aurora}"
avalanche = "${rpc_avalanche}"
fuji = "${rpc_fuji}"
boba = "${rpc_boba}"
bsc = "${rpc_bsc}"
canto = "${rpc_canto}"
cronos = "${rpc_cronos}"
dfk = "${rpc_dfk}"
dogechain = "${rpc_dogechain}"
fantom = "${rpc_fantom}"
harmony = "${rpc_harmony}"
klatyn = "${rpc_klatyn}"
mainnet = "${rpc_mainnet}"
goerli = "${rpc_goerli}"
metis = "${rpc_metis}"
moonbeam = "${rpc_moonbeam}"
moonriver = "${rpc_moonriver}"
optimism = "${rpc_optimism}"
polygon = "${rpc_polygon}"

[etherscan]
arbitrum = { key = "${etherscan_arbitrum_key}" }
arbitrum_goerli = { key = "${etherscan_arbitrum_key}", url = "https://api-goerli.arbiscan.io/api" }
# aurora = { key = "${etherscan_aurora_key}", url = "https://explorer.mainnet.aurora.dev/api" }
avalanche = { key = "${etherscan_avalanche_key}" }
fuji = { key = "${etherscan_avalanche_key}", url = "https://api-testnet.snowtrace.io/api" }
boba = { key = "${etherscan_boba_key}", url = "https://api.bobascan.com/api" }
bsc = { key = "${etherscan_bsc_key}" }
# canto = { key = "${etherscan_canto_key}", url = "https://evm.explorer.canto.io/api" }
cronos = { key = "${etherscan_cronos_key}" }
# dfk = { key = "${etherscan_dfk_key}" }
# dogechain = { key = "${etherscan_dogechain_key}", url = "https://explorer.dogechain.dog/api" }
fantom = { key = "${etherscan_fantom_key}" }
# harmony = { key = "${etherscan_harmony_key}" }
# klatyn = { key = "${etherscan_klatyn_key}" }
mainnet = { key = "${etherscan_mainnet_key}" }
goerli = { key = "${etherscan_mainnet_key}", url = "https://api-goerli.etherscan.io/api" }
# metis = { key = "${etherscan_metis_key}" }
moonbeam = { key = "${etherscan_moonbeam_key}" }
moonriver = { key = "${etherscan_moonriver_key}" }
optimism = { key = "${etherscan_optimism_key}" }
polygon = { key = "${etherscan_polygon_key}" }